/* CSS - style.css */

* {
	margin: 0;
    padding: 0;
    color: 0;
    background: 0;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
}


body {
    margin: 0;
}

#wrapper {
    margin: 0;
	padding: 10px 8px;
	background: white;
}

#footer {
    padding: 5px;
    background: white;
}

#raid_form {
    border: 2px solid grey;
    padding: 8px;
    margin-top: 16px;
}

.post {
    border: 2px solid grey;
    padding: 8px;
}

.left {
    float: left;
}

.clear {
    clear: both;
}

.btn {
    padding: 5px 10px;
    background: deepskyblue;
    border-radius: 15px;
    color: white;
    font-size: 0.95em;
    display: block;
    margin-right: 8px;
}

.btn_wa {
    display: block;
    margin-top: 15px;
    padding: 5px 10px;
    background: limegreen;
    border-radius: 5px;
    color: white;
    font-size: 0.95em;
    text-decoration: none;
}

input.field {
    border: 2px solid skyblue;
    border-radius: 7px;
    padding: 5px 10px;
    margin: 5px 0;
}

p.info {
    text-align: center;
    color: darkgrey;
    margin: 15px 10px;
}

.pp {
    text-align: center;
    color: lightgrey;
    margin: 15px 10px;
}
